---
interface Props {
  title: string
  description?: string
  image?: string
  link?: string
  tags?: string[]
  fixedHeight?: boolean
  wide?: boolean
}

const { title, description, image, link, tags = [] } = Astro.props
---

<div class="relative flex flex-col my-6 bg-white shadow-sm border border-slate-200 rounded-lg w-[800px] h-[200px] p-6">
    <div class="flex items-center mb-4">
      <div class="i-ph-globe w-6 h-6 text-slate-600"></div>
      <h5 class="ml-3 text-slate-800 text-xl font-semibold">
        {{ title }}
      </h5>
    </div>
    <p class="block text-slate-600 leading-normal font-light mb-4">
      Because it&apos;s about motivating the doers. Because I&apos;m here to follow my dreams and inspire others.
    </p>
    <div>
      <a href="#" class="text-slate-800 font-semibold text-sm hover:underline flex items-center">
        Learn More
        <div class="i-ph-arrow-right ml-2 w-4 h-4"></div>
      </a>
    </div>
</div>