---
import { Icon } from "astro-icon/components";
---

<footer class="flex justify-center space-x-4 py-8">
  <a
    href="https://github.com/kratosmy"
    target="_blank"
    rel="noopener noreferrer"
    aria-label="github link"
    class="text-[#8cc2DD]"
  >
    <Icon name="hugeicons:github" size={40} />
  </a>
  <a
    href="/rss.xml"
    target="_blank"
    aria-label="rss link"
    class="text-[#8cc2DD]"
  >
    <Icon name="tabler:rss" size={40} />
  </a>
</footer>
