---
import "../styles/index.css";
import Header from "./Header.astro";
import Navbar from "./Navbar.astro";
import { useLocale } from "@utils/locale";
import "@fontsource/ibm-plex-sans";
import { GoogleAnalytics } from "astro-analytics";
import { SEO } from "astro-seo";
import Footer from "./Footer.astro";

const { t, locale } = useLocale(Astro.url);

export const prerender = true;

export interface Props {
  title: string | undefined;
  navbar?: boolean;
  description?: string;
}

let { title, navbar, description } = Astro.props;
if (navbar === undefined) navbar = true;
if (!description) description = t("layout.description");
const fullTitle = `${title} - ${t("layout.title")}`;
---

<!doctype html>
<html lang="en" class="mx-4">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{fullTitle}</title>
    <SEO
      title="Kratos's Blog"
      description="A place sharing a life of a software engineer"
      openGraph={{
        basic: {
          title: "Kratos's Blog",
          type: "Blog",
          image: "https://avatars.githubusercontent.com/u/63009984?v=4",
        },
      }}
      twitter={{
        creator: "@kratosmy_",
      }}
    />
  </head>
  <body class="max-width dark:bg-[#333] bg-[#FBFBFBFF]">
    <Header />
    {navbar && <Navbar />}
    <main>
      <slot />
    </main>
    <Footer />
  </body><GoogleAnalytics id="G-4P87FNH31R" />
</html>
